body{
    margin: 0;
    padding: 0;
    background-color: #ededed;
    font-family: 'Nunito', sans-serif;
    color: #636b6f;
}


header{
    height: 100px;
    font-family: 'Nunito', sans-serif;
    color: #636b6f;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 20px;
    /* background-color: #636b6f; */
    border-bottom: 5px solid rgba(0,0,0,0.2);
}

header .search{
    font-size: 20px;
    height: 16px;
    margin: none;
}

#logo-h{
    max-width: 80px;
}

#mainDiv{
    font-weight: 200;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
}

.search{
    width: 75%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.result{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:  25vw 70vw;
    grid-template-areas: "side content";
    display: #ededed;
}

#data{
    grid-area: content;
    margin-left: 10px;
    display: block;
}

.sideBar{
    margin-top: 100px;
    grid-area: side;
    width: 300px;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: block;
}



.sideBar img{
    max-width: 100%;
    border-radius: 5px;
}

.sideBar iframe{
    max-width: 100%;
    border-radius: 5px;
}

#TitleDiv{
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}